body{
	 background-image: url("myself.png");
	 background-size:100% auto;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position:top center;
	
}
ul{ 
        list-style-type: none; 
}
li{
	float: left;
	margin:2%;
}
h1{
	font-size: 3em;
}
p{
	font-size: 1em;
		;
}
.section{
	background-color:lightblue
}
a:link{
	text-decoration: none;
	font-size: 2em;
	color:green;
}
a:visited{
	color:green;
}
a:hover{
	background-color: lightblue;
}
main{
	clear: both;
}
footer{
	clear: both;
	text-align: center;
}
.img{
    transform: rotate(90deg);
    clear: both;
}
.section{
	width: 28%;
	margin:1%;
	float: left;
	border: 2px yellow solid;
	padding: 1%;
}
#image{
	width:15em;
	height:auto
}